ul {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: auto;
  width: 800px;
  height: 600px;
}

li {
  display: block;
  list-style: none;
}

img {
  width: 800px;
  height: 600px;
}

.btns {
  text-align: center;
  margin: 10px;
}
